* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:sans-serif;
}

body {
  background-color: #2d1650;
}

div#home {
  text-align: center;
  margin-top: 37vh;
  margin-bottom: 50vh;
}
 
h1 {
  padding: 1rem;
  font-size: 3.5rem;
  color: white;
}

button#start {
  background-color: rgb(230, 198, 248);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-family: cursive;
  font-size: 1rem;
  box-shadow: 3px 3px 13px rgb(116, 92, 223);
}

button#start:hover {
  background-color: #e5d2f9;
  transition-duration: 0.3s;
  border-radius: 0px 20px 0px 20px;
  color: #2d1650;
  cursor: pointer;
}

div#question {
  background-color: #e5d2f9;
  padding: 2rem;
  width: 70vw;
  text-align: center;
  margin: 16vh;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #2d1650;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: 900;
}

div#question div.no {
  text-align: left;
}

div#question div.ques {
  font-size: 1.6rem;
  margin: 5vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-variant: small-caps;
  margin: 10vh;
}

div.options div {
  background-color: #3f0a8e;
  margin: 20px;
  /* width: 10vw; */
  color: white;
  padding: 0.5rem;
  border-radius: 40px;
}

div.options div:hover {
  background-color: #220e3f;
  transition-duration: 0.5s;
  cursor: pointer;
  transform: scale(1.03);
}

div.options div:not(:hover) {
  transition-duration: 0.5s;
}

div.buttons {
  display: flex;
  justify-content: space-evenly;
}

div.buttons div {
  border-radius: 10px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: white;
}

div.buttons div:nth-of-type(1) {
  background-color: #85a3f1;
}

div.buttons div:nth-of-type(1):hover {
  background-color:#4575ee;
  transform: scale(1.04);
  transition-duration: 0.5s;
  cursor: pointer;
}

div.buttons div:nth-of-type(2) {
  background-color: rgb(109, 162, 109);
}

div.buttons div:nth-of-type(2):hover {
  background-color: green;
  transform: scale(1.04);
  transition-duration: 0.5s;
  cursor: pointer;
}

div.buttons div:nth-of-type(3) {
  background-color: rgb(225, 98, 98);
} 

div.buttons div:nth-of-type(3):hover {
  background-color: red;
  transform: scale(1.04);
  transition-duration: 0.5s;
  cursor: pointer;
} 

div.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

div.list div {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 1.5vh;
  margin-bottom: 4vh;
  font-weight: 900;
}

h3 {
  font-size: 3rem;
  color: green;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -4vh;
  margin-top: 4vh;
}
